In [1]:
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv('DSE-Grades.csv')

In [12]:
df

,Name,PID,HW-1,HW-2,HW-3,HW-4,HW-5,Final
0,Christopher Masaru Sanders,A02866348,100,100,100,68,100,63.00
1,Megan Christine Mccarty,A04540481,100,100,100,94,100,56.00
2,Masashi Omori,A08350601,100,90,88,76,95,66.00
3,David Zachary Doerner,A08653595,100,95,80,88,100,71.00
4,Michael James Kali Galarnyk,A09134209,80,96,100,0,100,61.25
5,Jason Alexander Gilberg,A09146619,100,100,100,88,100,51.00
6,Syed Sadat Nazrul,A09771598,80,94,95,97,100,46.00
7,Christopher James Stevens,A53072604,100,100,95,82,100,66.00
8,Julius Remigio,A53087566,100,100,95,100,100,53.00
9,Manoj Kumar Jaiswal,A53106952,100,100,95,97,100,60.00
10,Naga Raju Rajesh Bondugula,A53108479,100,100,100,97,100,80.00
11,Deepthi Mysore Nagaraj,A53110637,100,100,95,94,100,57.25
12,Abraham Hart,A53110849,100,100,95,76,100,60.25
13,Nolan Abe Thomas,A53111004,100,73,95,91,100,33.75
14,Mai Qui Huynh,A53111141,100,96,95,70,100,34.00
15,Patrick John Mulrooney,A53111216,100,100,100,91,100,50.00
16,Pooja Nitin Palkar,A53111231,100,98,100,82,100,64.25
17,Joshua Alexander Duclos,A53111354,100,100,100,85,100,69.00
18,Karuna Thirumangalam Nadadur,A53111588,100,98,105,97,100,58.00
19,Miki Kahekiliokalani Hardisty,A53111789,100,100,100,0,95,61.00
20,Ryan Patrick Riopelle,A53111951,100,98,95,83,100,46.00
21,Parinaz Azadvari,A53112142,100,95,90,82,100,45.00
22,Alex Egg,A53112354,100,94,95,80,100,46.00
23,Peyman Hesami,A53112379,100,100,110,82,100,66.00

In [13]:
hw_grades=df[:].as_matrix()[:,2:7]

In [14]:
hw_grades

array([[100, 100, 100, 68, 100],
       [100, 100, 100, 94, 100],
       [100, 90, 88, 76, 95],
       [100, 95, 80, 88, 100],
       [80, 96, 100, 0, 100],
       [100, 100, 100, 88, 100],
       [80, 94, 95, 97, 100],
       [100, 100, 95, 82, 100],
       [100, 100, 95, 100, 100],
       [100, 100, 95, 97, 100],
       [100, 100, 100, 97, 100],
       [100, 100, 95, 94, 100],
       [100, 100, 95, 76, 100],
       [100, 73, 95, 91, 100],
       [100, 96, 95, 70, 100],
       [100, 100, 100, 91, 100],
       [100, 98, 100, 82, 100],
       [100, 100, 100, 85, 100],
       [100, 98, 105, 97, 100],
       [100, 100, 100, 0, 95],
       [100, 98, 95, 83, 100],
       [100, 95, 90, 82, 100],
       [100, 94, 95, 80, 100],
       [100, 100, 110, 82, 100]], dtype=object)

In [15]:
min_hw=np.min(hw_grades, axis=1)

In [16]:
hw_total=np.sum(hw_grades, axis=1)-min_hw

In [17]:
hw_total_ser=pd.Series(hw_total)

In [18]:
df['Best-4-HW']=hw_total_ser

In [19]:
df

,Name,PID,HW-1,HW-2,HW-3,HW-4,HW-5,Final,Best-4-HW
0,Christopher Masaru Sanders,A02866348,100,100,100,68,100,63.00,400
1,Megan Christine Mccarty,A04540481,100,100,100,94,100,56.00,400
2,Masashi Omori,A08350601,100,90,88,76,95,66.00,373
3,David Zachary Doerner,A08653595,100,95,80,88,100,71.00,383
4,Michael James Kali Galarnyk,A09134209,80,96,100,0,100,61.25,376
5,Jason Alexander Gilberg,A09146619,100,100,100,88,100,51.00,400
6,Syed Sadat Nazrul,A09771598,80,94,95,97,100,46.00,386
7,Christopher James Stevens,A53072604,100,100,95,82,100,66.00,395
8,Julius Remigio,A53087566,100,100,95,100,100,53.00,400
9,Manoj Kumar Jaiswal,A53106952,100,100,95,97,100,60.00,397
10,Naga Raju Rajesh Bondugula,A53108479,100,100,100,97,100,80.00,400
11,Deepthi Mysore Nagaraj,A53110637,100,100,95,94,100,57.25,395
12,Abraham Hart,A53110849,100,100,95,76,100,60.25,395
13,Nolan Abe Thomas,A53111004,100,73,95,91,100,33.75,386
14,Mai Qui Huynh,A53111141,100,96,95,70,100,34.00,391
15,Patrick John Mulrooney,A53111216,100,100,100,91,100,50.00,400
16,Pooja Nitin Palkar,A53111231,100,98,100,82,100,64.25,398
17,Joshua Alexander Duclos,A53111354,100,100,100,85,100,69.00,400
18,Karuna Thirumangalam Nadadur,A53111588,100,98,105,97,100,58.00,403
19,Miki Kahekiliokalani Hardisty,A53111789,100,100,100,0,95,61.00,395
20,Ryan Patrick Riopelle,A53111951,100,98,95,83,100,46.00,393
21,Parinaz Azadvari,A53112142,100,95,90,82,100,45.00,385
22,Alex Egg,A53112354,100,94,95,80,100,46.00,389
23,Peyman Hesami,A53112379,100,100,110,82,100,66.00,410

In [20]:
hw_total_70=hw_total*(0.7/4)

In [21]:
hw_total_70_ser=pd.Series(hw_total_70)
df['Hw-Grade(70%)']=hw_total_70_ser

In [22]:
final_grade=df[:].as_matrix()[:,7]

In [23]:
final_grade*=(3.0/8)

In [24]:
final_grade_ser=pd.Series(final_grade)

In [25]:
df['Final-Grade(30%)']=final_grade_ser

In [26]:
total=hw_total_70+final_grade

In [27]:
df['Total']=pd.Series(total)

In [28]:
df.to_csv('grades_with_stats.csv')