In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd
import numpy as np
import sklearn as sk
print('pandas version: ',pd.__version__)
print('numpy version:',np.__version__)
print('sklearn version:',sk.__version__)

pandas version:  0.20.3
numpy version: 1.13.3
sklearn version: 0.19.1

The data we will analyze today is from the weather database.

In [15]:
colspecs = [(0, 11), (11, 21), (21, 31), (31, 38),(38,41),(41,72),(72,76),(76,80),(80,86)]
stations = pd.read_fwf('ghcnd-stations_buffered.txt', colspecs=colspecs, header=None, index_col=0,
                       names=['latitude','longitude','elevation','state','name','GSNFLAG','HCNFLAG','WMOID'])
stations.index.name='station'
stations=stations[['latitude', 'longitude', 'elevation', 'state', 'name']]
print(stations.shape)
stations.head()

(85284, 5)

             latitude  longitude  elevation state                   name
station
ACW00011604   17.1167   -61.7833       10.1   NaN  ST JOHNS COOLIDGE FLD
ACW00011647   17.1333   -61.7833       19.2   NaN               ST JOHNS
AE000041196   25.3330    55.5170       34.0   NaN    SHARJAH INTER. AIRP
AF000040930   35.3170    69.0170     3366.0   NaN           NORTH-SALANG
AG000060390   36.7167     3.2500       24.0   NaN     ALGER-DAR EL BEIDA

In [33]:
stations.to_csv('all_stations.tsv',sep='\t')

In [35]:
!head all_stations.tsv

station	latitude	longitude	elevation	state	name
ACW00011604	17.1167	-61.7833	10.1		ST JOHNS COOLIDGE FLD
ACW00011647	17.1333	-61.7833	19.2		ST JOHNS
AE000041196	25.333	55.517	34.0		SHARJAH INTER. AIRP
AF000040930	35.317	69.017	3366.0		NORTH-SALANG
AG000060390	36.7167	3.25	24.0		ALGER-DAR EL BEIDA
AG000060590	30.5667	2.8667	397.0		EL-GOLEA
AG000060611	28.05	9.6331	561.0		IN-AMENAS
AG000060680	22.8	5.4331	1362.0		TAMANRASSET
AGE00135039	35.7297	0.65	50.0		ORAN-HOPITAL MILITAIRE

In [34]:
!grep \, all_stations.tsv

AJ000037742	40.9	47.3	313.0		ORDJONIKIDZE,ZERNOSOVHOZ
AJ000037869	40.3	50.6	-17.0		JILOY,OSTROV
AJ000037888	39.5	45.8	3282.0		SISIANSKIY,PEREVAL
AJ000037902	39.8	47.5	157.0		MOL'SKAYA,STEP'
AJ000037922	39.8	49.6	-25.0		SVINOY,OSTROV
AM000037694	40.9	44.4	2061.0		PUSHKINSKIY,PEREVAL
AM000037878	39.8	45.0	2130.0		BESIIMYANNIY,PEREVAL
ASN00023043	-34.7607	138.6311	25.0		HALBURY ROAD, SALISBURY (HALBU
BR00C4-019A	-22.0	-47.67	800.0		FAZ.    MONT,ALVERNE
CA006106398	45.95	-77.317	130.0		PETAWAWA A,ONT
CA008403045	47.62	-52.83	137.0		PORTUGAL COVE, CONCEPTION BAY
GG000037495	41.73	41.73	30.0		CHAKVA,AGRO
GG000037507	41.6	42.5	2025.0		GODERDZSCIY,PEREVAL
GP000078897	16.27	-61.6	11.0		LE RAIZET, GUADELOUPE
KG000038608	40.0	70.9	1050.0		BATKEN,AMSG
KZ000028856	53.6	64.3	178.0		MIHAYLOVKA,KUSTANAY
KZ000028868	53.3	67.0	190.0		CHERBONNIY,SOVHOZ
KZ000028888	53.9	71.5	123.0		KZILTUSSKIY,SOVHOZ
KZ000028894	53.7	73.2	69.0		OZERNIY,SOVHOZ
KZ000028997	52.7	73.7	89.0		KRASNOKUTSKIY,ZERNOSOVHOZ
KZ000029703	53.7	75.1	106.0		PRIIRTISHSKIY,ZERNOSOVHOZ
KZ000034292	50.8	49.4	34.0		IMENI_KRUPSKOY,SOVHOZ
KZ000035082	52.4	71.8	271.0		STEPNOGORSK,AMSG
KZ000035145	51.2	61.8	793.0		SEVERNIY,AMSG
KZ000035182	51.7	71.0	367.0		SHORTANDI,AGRO
KZ000035206	50.7	51.5	28.0		ANKATINSKIY,SOVHOZ
KZ000035244	50.4	60.5	257.0		KOMSOMOLSKOE,AMSG
KZ000035315	49.7	53.5	44.0		KARA-TUBE,AMSG
KZ000035391	50.2	72.8	515.0		KARAGANDINSKAYA,SOVHOZ
KZ000035397	49.6	72.8	492.0		IMENI_MICHURINA,SOVHOZ
KZ000035506	48.6	51.7	32.0		INDERBORSKIY,AMSG
KZ000036002	52.4	75.9	120.0		PRIOZERNIY,SOVHOZ
KZ000036536	48.4	82.9	425.0		BOLSHEVIK,SOVHOZ
KZ000036567	48.4	85.7	574.0		ALEKSEEVKA,AMSG
KZ000036884	43.2	77.0	1712.0		ALMA-ATA,MEDEO
KZ000038052	44.8	64.1	110.0		AKKIRSKIY,SOVHOZ
KZ000038079	44.1	68.5	316.0		SUZAK,AMSG
KZ000038119	43.4	52.7	200.0		USEN',AMSG
KZ000038147	50.0	77.0	692.0		IMENI_ABAYA,SOVHOZ
KZ000038197	43.5	68.6	397.0		KENTAU,AMSG
KZ000038584	40.8	68.2	262.0		IMENI_)LENINA,SOVHOZ
RSM00022145	68.15	39.82	70.0		SVYATOY NOS,CAPE(CLOSED)
RSM00028903	53.0	52.05	81.0		BOROVOYE, WOOD FARM
RSM00031457	51.35	129.1	206.0		GOSH,AGRO
RSM00031995	43.73	135.27	18.0		OLGA,BAY
SF000375410	-33.52	26.82	210.0		BATHURST NS,
SF001450290	-31.48	25.02	1250.0		GROOTFONTEIN 11,
SF001803940	-30.57	29.23	1463.0		PALMIET, KOKSTAD
SF001823790	-30.82	30.22	548.0		BRYNAWE, PADDOCK
SF001825350	-30.92	30.3	65.0		BUSHY VALES, MARGATE
SF002085280	-30.3	29.3	1661.0		BOKFONTEIN, FRANKLIN
SF002098250	-30.25	29.97	822.0		THE GRANGE, UMZIMKUL
SF002098860	-30.27	30.0	950.0		CROMLEIGH,IXOPO
SF002107980	-30.3	30.45	701.0		TANHURST EST, UMZINT
SF002390970	-29.62	30.07	1540.0		ELANDSHOEK, BOSTON
SF002395660	-29.93	30.32	810.0		LITTLE HARMONY, RICH
SF002408830	-29.72	31.0	40.0		NATAL EST, MOUNT EDG
SF002686400	-29.17	29.87	1520.0		KILMASHOGUE,LOWLANDS
SF002690430	-29.22	30.03	1371.0		WESTON COLLEGE, MOOI
SF002691140	-29.4	30.07	1400.0		KNIGHT L C,BALGOWAN
SF002692950	-29.42	30.17	1225.0		ELDERSLIE, TWEEDIE
SF002694770	-29.45	30.27	1082.0		DE JONG RANCH, HOWIC
SF002695320	-29.37	30.3	1075.0		HAWKESTONE, HOWICK
SF002697740	-29.4	30.43	762.0		CRAMOND, ALBERT FALL
SF002702190	-29.15	30.63	980.0		CROWE'S PLACE,SEVEN
SF002935970	-28.95	26.33	1295.0		GLEN AGR. COLLEGE,BFN.
SF002997880	-28.63	29.45	1220.0		VENTERSLAAGER, BERGV
SF003000510	-28.85	29.53	1040.0		VECTIS, WINTERTON
SF003005670	-28.95	29.82	1020.0		HEAVITREE, ESTCOURT
SF003393540	-28.4	32.2	60.0		KANGELA, MTUBATUBA
TI000038598	40.3	69.8	347.0		KAYRAKUMSKAYA,GMO
TX000038972	37.0	60.8	224.0		TEDJENSTROY,2
UPM00033187	50.7	25.5	192.0		LUCK,AMSG
UPM00033446	49.7	28.9	257.0		BELOPOL'E,VINNIC
UPM00033958	44.8	34.3	-999.0		ANGARSKIY,PEREVAL
UPM00033991	44.62	33.53	7.0		SEVASTOPOL',MGS
UPM00033994	44.6	33.4	2.0		HERSONSSKIY,MAYAK
US1MDCH0012	38.6141	-77.0361	57.9	MD	BRYANS ROAD, MD 2 ESE
UZM00038039	44.4	58.9	55.0		LASAREV,OSTROV
UZM00038146	43.75	58.73	68.0		MUINAK,AMSG
UZM00038454	41.4	69.3	489.0		BOZSU,AGRO
UZM00038562	40.7	66.1	380.0		NURATA, SOVHOZ
UZM00038692	39.9	66.3	496.0		KATTA-KURGAN,VODOHR
UZM00038694	39.6	66.3	530.0		YLUS,SOVHOZ

In [20]:
dist_to_coast=pd.read_csv('station_lat_log_elev_distToCoast.csv').set_index('station')
dist_to_coast=dist_to_coast[['dist_coast']]
print(dist_to_coast.shape)
dist_to_coast.head()

(12140, 1)

             dist_coast
station
USC00044534   107.65500
USC00356784     0.61097
USC00243581  1316.54000
USC00205601   685.50100
CA005010480   908.27100

In [21]:
joined=dist_to_coast.join(stations,how='left',lsuffix='_dist',rsuffix='_orig')
print(joined.shape)
joined.head()

(12140, 6)

,dist_coast,latitude,longitude,elevation,state,name
station,,,,,,
USC00044534,107.65500,36.0042,-119.9600,73.2,CA,KETTLEMAN CITY
USC00356784,0.61097,42.7519,-124.5011,12.8,OR,PORT ORFORD NO 2
USC00243581,1316.54000,47.1064,-104.7183,632.8,MT,GLENDIVE
USC00205601,685.50100,41.7500,-84.2167,247.2,MI,MORENCI
CA005010480,908.27100,49.9170,-99.9500,409.0,NaN,BRANDON AIRPORT

In [28]:
joined.to_csv('US_stations.tsv',sep='\t')

In [32]:
!grep \, US_stations.tsv

CA006106398	479.51300000000003	45.95	-77.317	130.0		PETAWAWA A,ONT

In [30]:
read=pd.read_csv('US_stations.tsv',sep='\t',index_col='station')
read.head()

,dist_coast,latitude,longitude,elevation,state,name
station,,,,,,
USC00044534,107.65500,36.0042,-119.9600,73.2,CA,KETTLEMAN CITY
USC00356784,0.61097,42.7519,-124.5011,12.8,OR,PORT ORFORD NO 2
USC00243581,1316.54000,47.1064,-104.7183,632.8,MT,GLENDIVE
USC00205601,685.50100,41.7500,-84.2167,247.2,MI,MORENCI
CA005010480,908.27100,49.9170,-99.9500,409.0,NaN,BRANDON AIRPORT