## Breaking data by state

In [1]:
%%time
%pwd
from pyspark import SparkContext
sc = SparkContext(pyFiles=['/mnt/workspace/edX-Micro-Master-in-Data-Science/big-data-analytics-using-spark/notebooks/Section2-PCA/PCA/data_preparation/lib/numpy_pack.py'])

N=sc.defaultParallelism
print('Number of executors=',N)

from pyspark import SparkContext
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

Number of executors= 2
CPU times: user 204 ms, sys: 12 ms, total: 216 ms
Wall time: 13.3 s

In [2]:
#import unpacking routine
import sys
sys.path.append('./lib')
from numpy_pack import unpackArray

import numpy as np

In [3]:
STAT_Descriptions=[
('SortedVals', 'Sample of values', 'vector whose length varies between measurements'),
 ('UnDef', 'sample of number of undefs per row', 'vector whose length varies between measurements'),
 ('mean', 'mean value', ()),
 ('std', 'std', ()),
 ('low100', 'bottom 1%', ()),
 ('high100', 'top 1%', ()),
 ('low1000', 'bottom 0.1%', ()),
 ('high1000', 'top 0.1%', ()),
 ('E', 'Sum of values per day', (365,)),
 ('NE', 'count of values per day', (365,)),
 ('Mean', 'E/NE', (365,)),
 ('O', 'Sum of outer products', (365, 365)),
 ('NO', 'counts for outer products', (365, 365)),
 ('Cov', 'O/NO', (365, 365)),
 ('Var', 'The variance per day = diagonal of Cov', (365,)),
 ('eigval', 'PCA eigen-values', (365,)),
 ('eigvec', 'PCA eigen-vectors', (365, 365))
  ]

In [4]:
US_Weather_parquet='/weather/US_weather.parquet'
measurements=['TMAX','TMIN','TOBS','SNOW','SNWD','PRCP']
Query="SELECT * FROM parquet.`%s`"%US_Weather_parquet
print(Query)

from time import time
t=time()
df = sqlContext.sql(Query).cache()
print(df.count())
print('took',time()-t,'seconds')

SELECT * FROM parquet.`/weather/US_weather.parquet`
3259494
took 22.66908288002014 seconds

In [5]:
US_stations_parquet='/weather/US_stations.parquet'
Query="SELECT * FROM parquet.`%s`"%US_stations_parquet
print(Query)

t=time()
stations = sqlContext.sql(Query).cache()
print(stations.count())
print('took',time()-t,'seconds')

SELECT * FROM parquet.`/weather/US_stations.parquet`
12140
took 0.7413763999938965 seconds

In [6]:
station_state=stations.select(['Station','State'])
station_state.show(4)

+-----------+-----+
|    Station|State|
+-----------+-----+
|USC00341900|   OK|
|USC00428114|   UT|
|USC00165926|   LA|
|USC00411974|   TX|
+-----------+-----+
only showing top 4 rows

In [7]:
df.show(2)

+-----------+-----------+----+--------------------+
|    Station|Measurement|Year|              Values|
+-----------+-----------+----+--------------------+
|CA001126150|       PRCP|1941|[00 7E 00 7E 00 7...|
|CA001126150|       PRCP|1942|[00 00 80 4A 00 0...|
+-----------+-----------+----+--------------------+
only showing top 2 rows

In [8]:
df1=df.join(station_state,on='Station', how='inner')
df1.show(2)

+-----------+-----------+----+--------------------+-----+
|    Station|Measurement|Year|              Values|State|
+-----------+-----------+----+--------------------+-----+
|CA001126150|       PRCP|1941|[00 7E 00 7E 00 7...|  NaN|
|CA001126150|       PRCP|1942|[00 00 80 4A 00 0...|  NaN|
+-----------+-----------+----+--------------------+-----+
only showing top 2 rows

In [9]:
records_per_state_pdf=df1.groupby('State').count().toPandas()

records_per_state_pdf = records_per_state_pdf.sort_values('count')
records_per_state_pdf

   State   count
54    NB     120
5     DC     149
29    MB     193
44    AB     594
43    SK     740
8     QC    1218
12    BC    1366
42    ON    1857
9     RI    2608
25    DE    5277
20    CT   13231
23    VT   17535
13    NH   19971
4     NJ   27903
28    ME   28186
49    MA   29531
24    MD   34992
1     SC   39276
10    KY   43453
2     LA   47331
32    MS   48006
33    AL   48218
15    NV   48977
47    WV   50991
36    TN   54590
53    AR   55884
7     VA   57279
52    FL   57997
48    GA   58234
34    IN   58832
35    OH   63344
45   NaN   64268
30    ND   64908
11    WY   65734
17    ID   71554
40    SD   72556
22    NC   72568
55    OK   74509
27    IL   74742
3     MN   75338
26    MO   78153
39    PA   78755
56    UT   82388
38    IA   82673
16    WI   83197
41    NY   84199
50    KS   85246
14    MI   86365
19    NE   88658
31    WA   88668
51    CO   90775
0     AZ   91858
37    NM   94859
6     OR   96763
21    MT  114447
18    CA  182759
46    TX  195671

In [10]:
states=list(records_per_state_pdf['State'])
','.join(states)

'NB,DC,MB,AB,SK,QC,BC,ON,RI,DE,CT,VT,NH,NJ,ME,MA,MD,SC,KY,LA,MS,AL,NV,WV,TN,AR,VA,FL,GA,IN,OH,NaN,ND,WY,ID,SD,NC,OK,IL,MN,MO,PA,UT,IA,WI,NY,KS,MI,NE,WA,CO,AZ,NM,OR,MT,CA,TX'

In [12]:
!hdfs dfs -mkdir /weather/by_state

In [24]:
t=time()
for state in states:
    state_df=df1.filter(df1.State==state)
    outfilename="hdfs:///weather/by_state/%s.parquet"%state
    state_df.write.save(outfilename)
    print('done with %s, took %4.2f seconds'%(state,time()-t))
    t=time()

done with NB, took 0.69 seconds
done with DC, took 0.59 seconds
done with MB, took 0.69 seconds
done with AB, took 0.62 seconds
done with SK, took 0.74 seconds
done with QC, took 0.60 seconds
done with BC, took 0.75 seconds
done with ON, took 0.64 seconds
done with RI, took 0.62 seconds
done with DE, took 0.71 seconds
done with CT, took 0.68 seconds
done with VT, took 0.69 seconds
done with NH, took 0.69 seconds
done with NJ, took 0.81 seconds
done with ME, took 0.84 seconds
done with MA, took 0.67 seconds
done with MD, took 0.78 seconds
done with SC, took 0.76 seconds
done with KY, took 0.71 seconds
done with LA, took 0.77 seconds
done with MS, took 0.80 seconds
done with AL, took 0.81 seconds
done with NV, took 0.77 seconds
done with WV, took 0.77 seconds
done with TN, took 0.80 seconds
done with AR, took 0.81 seconds
done with VA, took 0.76 seconds
done with FL, took 0.82 seconds
done with GA, took 0.78 seconds
done with IN, took 0.78 seconds
done with OH, took 0.85 seconds
done with NaN, took 0.93 seconds
done with ND, took 0.85 seconds
done with WY, took 0.78 seconds
done with ID, took 0.83 seconds
done with SD, took 0.84 seconds
done with NC, took 0.88 seconds
done with OK, took 0.80 seconds
done with IL, took 0.84 seconds
done with MN, took 1.21 seconds
done with MO, took 0.91 seconds
done with PA, took 0.85 seconds
done with UT, took 0.85 seconds
done with IA, took 0.84 seconds
done with WI, took 0.89 seconds
done with NY, took 0.91 seconds
done with KS, took 0.87 seconds
done with MI, took 0.95 seconds
done with NE, took 0.85 seconds
done with WA, took 0.98 seconds
done with CO, took 0.90 seconds
done with AZ, took 0.82 seconds
done with NM, took 0.88 seconds
done with OR, took 0.88 seconds
done with MT, took 1.04 seconds
done with CA, took 1.20 seconds
done with TX, took 1.23 seconds

In [26]:
!hdfs dfs -du -h /weather/by_state/

273.7 K  /weather/by_state/AB.parquet
13.6 M   /weather/by_state/AL.parquet
16.1 M   /weather/by_state/AR.parquet
23.3 M   /weather/by_state/AZ.parquet
617.9 K  /weather/by_state/BC.parquet
45.9 M   /weather/by_state/CA.parquet
27.2 M   /weather/by_state/CO.parquet
4.1 M    /weather/by_state/CT.parquet
66.8 K   /weather/by_state/DC.parquet
1.7 M    /weather/by_state/DE.parquet
16.2 M   /weather/by_state/FL.parquet
16.0 M   /weather/by_state/GA.parquet
26.6 M   /weather/by_state/IA.parquet
21.9 M   /weather/by_state/ID.parquet
22.4 M   /weather/by_state/IL.parquet
18.4 M   /weather/by_state/IN.parquet
24.0 M   /weather/by_state/KS.parquet
12.8 M   /weather/by_state/KY.parquet
12.9 M   /weather/by_state/LA.parquet
9.3 M    /weather/by_state/MA.parquet
96.4 K   /weather/by_state/MB.parquet
10.9 M   /weather/by_state/MD.parquet
9.3 M    /weather/by_state/ME.parquet
28.1 M   /weather/by_state/MI.parquet
24.6 M   /weather/by_state/MN.parquet
23.3 M   /weather/by_state/MO.parquet
13.6 M   /weather/by_state/MS.parquet
36.4 M   /weather/by_state/MT.parquet
68.8 K   /weather/by_state/NB.parquet
21.2 M   /weather/by_state/NC.parquet
20.8 M   /weather/by_state/ND.parquet
26.1 M   /weather/by_state/NE.parquet
6.5 M    /weather/by_state/NH.parquet
8.5 M    /weather/by_state/NJ.parquet
25.7 M   /weather/by_state/NM.parquet
13.2 M   /weather/by_state/NV.parquet
27.5 M   /weather/by_state/NY.parquet
27.3 M   /weather/by_state/NaN.parquet
20.2 M   /weather/by_state/OH.parquet
21.6 M   /weather/by_state/OK.parquet
910.7 K  /weather/by_state/ON.parquet
28.2 M   /weather/by_state/OR.parquet
24.3 M   /weather/by_state/PA.parquet
577.2 K  /weather/by_state/QC.parquet
850.7 K  /weather/by_state/RI.parquet
11.4 M   /weather/by_state/SC.parquet
22.6 M   /weather/by_state/SD.parquet
341.6 K  /weather/by_state/SK.parquet
16.2 M   /weather/by_state/TN.parquet
49.5 M   /weather/by_state/TX.parquet
23.8 M   /weather/by_state/UT.parquet
16.6 M   /weather/by_state/VA.parquet
5.9 M    /weather/by_state/VT.parquet
26.2 M   /weather/by_state/WA.parquet
27.3 M   /weather/by_state/WI.parquet
15.9 M   /weather/by_state/WV.parquet
20.4 M   /weather/by_state/WY.parquet

In [27]:
t=time()
%cd /mnt/workspace/Data
!mkdir by_state
%pwd
!ls

/mnt/workspace/Data
by_state  US_stations.parquet  US_weather.parquet

In [72]:
%cd /mnt/workspace/Data/by_state/
t=time()
for state in states:
    name=state+'.parquet'
    !hadoop fs -copyToLocal /weather/by_state/$name $name
    command="tar -czf %s.tgz %s.parquet/"%(state,state)
    print(command)
    !$command
    name=state+'.tgz'
    !aws s3 cp  ./$name s3://mas-dse-open/Weather/by_state/$name
    print('done with %s, took %4.2f seconds'%(state,time()-t))
    t=time()

/mnt/workspace/Data/by_state
copyToLocal: `NB.parquet/NB.parquet/_SUCCESS': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00000-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00001-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00002-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00003-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00004-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00005-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00006-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00007-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00008-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00009-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00010-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00011-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00012-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
copyToLocal: `NB.parquet/NB.parquet/part-00013-554426a4-4f31-4ead-8ef3-a4ffb02c35fc-c000.snappy.parquet': File exists
tar -czf NB.tgz NB.parquet/
upload: ./NB.tgz to s3://mas-dse-open/Weather/by_state/NB.tgz
done with NB, took 3.44 seconds
tar -czf DC.tgz DC.parquet/
upload: ./DC.tgz to s3://mas-dse-open/Weather/by_state/DC.tgz
done with DC, took 3.42 seconds
tar -czf MB.tgz MB.parquet/
upload: ./MB.tgz to s3://mas-dse-open/Weather/by_state/MB.tgz
done with MB, took 3.48 seconds
tar -czf AB.tgz AB.parquet/
upload: ./AB.tgz to s3://mas-dse-open/Weather/by_state/AB.tgz
done with AB, took 3.66 seconds
tar -czf SK.tgz SK.parquet/
upload: ./SK.tgz to s3://mas-dse-open/Weather/by_state/SK.tgz
done with SK, took 3.85 seconds
tar -czf QC.tgz QC.parquet/
upload: ./QC.tgz to s3://mas-dse-open/Weather/by_state/QC.tgz
done with QC, took 3.95 seconds
tar -czf BC.tgz BC.parquet/
upload: ./BC.tgz to s3://mas-dse-open/Weather/by_state/BC.tgz
done with BC, took 3.92 seconds
tar -czf ON.tgz ON.parquet/
upload: ./ON.tgz to s3://mas-dse-open/Weather/by_state/ON.tgz
done with ON, took 3.98 seconds
tar -czf RI.tgz RI.parquet/
upload: ./RI.tgz to s3://mas-dse-open/Weather/by_state/RI.tgz
done with RI, took 3.96 seconds
tar -czf DE.tgz DE.parquet/
upload: ./DE.tgz to s3://mas-dse-open/Weather/by_state/DE.tgz
done with DE, took 4.25 seconds
tar -czf CT.tgz CT.parquet/
upload: ./CT.tgz to s3://mas-dse-open/Weather/by_state/CT.tgz
done with CT, took 4.57 seconds
tar -czf VT.tgz VT.parquet/
upload: ./VT.tgz to s3://mas-dse-open/Weather/by_state/VT.tgz
done with VT, took 4.98 seconds
tar -czf NH.tgz NH.parquet/
upload: ./NH.tgz to s3://mas-dse-open/Weather/by_state/NH.tgz
done with NH, took 4.95 seconds
tar -czf NJ.tgz NJ.parquet/
upload: ./NJ.tgz to s3://mas-dse-open/Weather/by_state/NJ.tgz
done with NJ, took 4.98 seconds
tar -czf ME.tgz ME.parquet/
upload: ./ME.tgz to s3://mas-dse-open/Weather/by_state/ME.tgz
done with ME, took 5.11 seconds
tar -czf MA.tgz MA.parquet/
upload: ./MA.tgz to s3://mas-dse-open/Weather/by_state/MA.tgz
done with MA, took 5.00 seconds
tar -czf MD.tgz MD.parquet/
upload: ./MD.tgz to s3://mas-dse-open/Weather/by_state/MD.tgz
done with MD, took 5.95 seconds
tar -czf SC.tgz SC.parquet/
upload: ./SC.tgz to s3://mas-dse-open/Weather/by_state/SC.tgz
done with SC, took 6.03 seconds
tar -czf KY.tgz KY.parquet/
upload: ./KY.tgz to s3://mas-dse-open/Weather/by_state/KY.tgz
done with KY, took 6.27 seconds
tar -czf LA.tgz LA.parquet/
upload: ./LA.tgz to s3://mas-dse-open/Weather/by_state/LA.tgz
done with LA, took 6.15 seconds
tar -czf MS.tgz MS.parquet/
upload: ./MS.tgz to s3://mas-dse-open/Weather/by_state/MS.tgz
done with MS, took 6.45 seconds
tar -czf AL.tgz AL.parquet/
upload: ./AL.tgz to s3://mas-dse-open/Weather/by_state/AL.tgz
done with AL, took 6.26 seconds
tar -czf NV.tgz NV.parquet/
upload: ./NV.tgz to s3://mas-dse-open/Weather/by_state/NV.tgz
done with NV, took 6.10 seconds
tar -czf WV.tgz WV.parquet/
upload: ./WV.tgz to s3://mas-dse-open/Weather/by_state/WV.tgz
done with WV, took 7.67 seconds
tar -czf TN.tgz TN.parquet/
upload: ./TN.tgz to s3://mas-dse-open/Weather/by_state/TN.tgz
done with TN, took 6.22 seconds
tar -czf AR.tgz AR.parquet/
upload: ./AR.tgz to s3://mas-dse-open/Weather/by_state/AR.tgz
done with AR, took 6.37 seconds
tar -czf VA.tgz VA.parquet/
upload: ./VA.tgz to s3://mas-dse-open/Weather/by_state/VA.tgz
done with VA, took 6.58 seconds
tar -czf FL.tgz FL.parquet/
upload: ./FL.tgz to s3://mas-dse-open/Weather/by_state/FL.tgz
done with FL, took 6.47 seconds
tar -czf GA.tgz GA.parquet/
upload: ./GA.tgz to s3://mas-dse-open/Weather/by_state/GA.tgz
done with GA, took 6.19 seconds
tar -czf IN.tgz IN.parquet/
upload: ./IN.tgz to s3://mas-dse-open/Weather/by_state/IN.tgz
done with IN, took 6.40 seconds
tar -czf OH.tgz OH.parquet/
upload: ./OH.tgz to s3://mas-dse-open/Weather/by_state/OH.tgz
done with OH, took 7.30 seconds
tar -czf NaN.tgz NaN.parquet/
upload: ./NaN.tgz to s3://mas-dse-open/Weather/by_state/NaN.tgz
done with NaN, took 7.26 seconds
tar -czf ND.tgz ND.parquet/
upload: ./ND.tgz to s3://mas-dse-open/Weather/by_state/ND.tgz
done with ND, took 6.67 seconds
tar -czf WY.tgz WY.parquet/
upload: ./WY.tgz to s3://mas-dse-open/Weather/by_state/WY.tgz
done with WY, took 6.96 seconds
tar -czf ID.tgz ID.parquet/
upload: ./ID.tgz to s3://mas-dse-open/Weather/by_state/ID.tgz
done with ID, took 6.95 seconds
tar -czf SD.tgz SD.parquet/
upload: ./SD.tgz to s3://mas-dse-open/Weather/by_state/SD.tgz
done with SD, took 7.01 seconds
tar -czf NC.tgz NC.parquet/
upload: ./NC.tgz to s3://mas-dse-open/Weather/by_state/NC.tgz
done with NC, took 6.81 seconds
tar -czf OK.tgz OK.parquet/
upload: ./OK.tgz to s3://mas-dse-open/Weather/by_state/OK.tgz
done with OK, took 6.83 seconds
tar -czf IL.tgz IL.parquet/
upload: ./IL.tgz to s3://mas-dse-open/Weather/by_state/IL.tgz
done with IL, took 10.57 seconds
tar -czf MN.tgz MN.parquet/
upload: ./MN.tgz to s3://mas-dse-open/Weather/by_state/MN.tgz
done with MN, took 6.98 seconds
tar -czf MO.tgz MO.parquet/
upload: ./MO.tgz to s3://mas-dse-open/Weather/by_state/MO.tgz
done with MO, took 6.62 seconds
tar -czf PA.tgz PA.parquet/
upload: ./PA.tgz to s3://mas-dse-open/Weather/by_state/PA.tgz
done with PA, took 6.82 seconds
tar -czf UT.tgz UT.parquet/
upload: ./UT.tgz to s3://mas-dse-open/Weather/by_state/UT.tgz
done with UT, took 7.13 seconds
tar -czf IA.tgz IA.parquet/
upload: ./IA.tgz to s3://mas-dse-open/Weather/by_state/IA.tgz
done with IA, took 8.67 seconds
tar -czf WI.tgz WI.parquet/
upload: ./WI.tgz to s3://mas-dse-open/Weather/by_state/WI.tgz
done with WI, took 7.30 seconds
tar -czf NY.tgz NY.parquet/
upload: ./NY.tgz to s3://mas-dse-open/Weather/by_state/NY.tgz
done with NY, took 7.05 seconds
tar -czf KS.tgz KS.parquet/
upload: ./KS.tgz to s3://mas-dse-open/Weather/by_state/KS.tgz
done with KS, took 7.00 seconds
tar -czf MI.tgz MI.parquet/
upload: ./MI.tgz to s3://mas-dse-open/Weather/by_state/MI.tgz
done with MI, took 7.25 seconds
tar -czf NE.tgz NE.parquet/
upload: ./NE.tgz to s3://mas-dse-open/Weather/by_state/NE.tgz
done with NE, took 7.12 seconds
tar -czf WA.tgz WA.parquet/
upload: ./WA.tgz to s3://mas-dse-open/Weather/by_state/WA.tgz
done with WA, took 6.91 seconds
tar -czf CO.tgz CO.parquet/

upload: ./CO.tgz to s3://mas-dse-open/Weather/by_state/CO.tgz
done with CO, took 7.09 seconds
tar -czf AZ.tgz AZ.parquet/
upload: ./AZ.tgz to s3://mas-dse-open/Weather/by_state/AZ.tgz
done with AZ, took 8.14 seconds
tar -czf NM.tgz NM.parquet/
upload: ./NM.tgz to s3://mas-dse-open/Weather/by_state/NM.tgz
done with NM, took 7.17 seconds
tar -czf OR.tgz OR.parquet/
upload: ./OR.tgz to s3://mas-dse-open/Weather/by_state/OR.tgz
done with OR, took 7.31 seconds
tar -czf MT.tgz MT.parquet/
upload: ./MT.tgz to s3://mas-dse-open/Weather/by_state/MT.tgz
done with MT, took 7.95 seconds
tar -czf CA.tgz CA.parquet/
upload: ./CA.tgz to s3://mas-dse-open/Weather/by_state/CA.tgz
done with CA, took 8.73 seconds
tar -czf TX.tgz TX.parquet/
upload: ./TX.tgz to s3://mas-dse-open/Weather/by_state/TX.tgz
done with TX, took 8.88 seconds

In [67]:
!ls -F

NB.parquet/  NB.tgz

In [70]:
command="tar -czf %s.tgz %s.parquet/"%(state,state)
print(command)
!$command
!du -sh *

tar -czf NB.tgz NB.parquet/
120K	NB.parquet
52K	NB.tgz

In [43]:
!du -h *

120K	NB.parquet
52K	NB.tgz

In [58]:
name='NB.tgz'
!aws s3 cp  ./$name s3://mas-dse-open/Weather/by_state/$name

upload: ./NB.tgz to s3://mas-dse-open/Weather/by_state/NB.tgz

In [73]:
!aws s3 ls mas-dse-open/Weather/by_state/

2018-03-16 20:21:36     220190 AB.tgz
2018-03-16 20:23:05   11432311 AL.tgz
2018-03-16 20:23:31   13377712 AR.tgz
2018-03-16 20:26:36   19254643 AZ.tgz
2018-03-16 20:21:47     506076 BC.tgz
2018-03-16 20:27:08   38154057 CA.tgz
2018-03-16 20:26:29   22868140 CO.tgz
2018-03-16 20:22:04    3408494 CT.tgz
2018-03-16 20:21:29      48306 DC.tgz
2018-03-16 20:21:59    1399298 DE.tgz
2018-03-16 20:23:44   13713886 FL.tgz
2018-03-16 20:23:51   13387038 GA.tgz
2018-03-16 20:25:38   22251334 IA.tgz
2018-03-16 20:24:32   18411253 ID.tgz
2018-03-16 20:24:59   18731601 IL.tgz
2018-03-16 20:23:57   15442891 IN.tgz
2018-03-16 20:26:01   19910478 KS.tgz
2018-03-16 20:22:46   10683818 KY.tgz
2018-03-16 20:22:52   10806071 LA.tgz
2018-03-16 20:22:29    7784319 MA.tgz
2018-03-16 20:21:32      73460 MB.tgz
2018-03-16 20:22:34    9134524 MD.tgz
2018-03-16 20:22:24    7836132 ME.tgz
2018-03-16 20:26:08   23642776 MI.tgz
2018-03-16 20:25:10   20661045 MN.tgz
2018-03-16 20:25:17   19456288 MO.tgz
2018-03-16 20:22:58   11400416 MS.tgz
2018-03-16 20:27:00   30630082 MT.tgz
2018-03-16 20:21:25      97631 NB.tgz
2018-03-16 20:24:46   17722723 NC.tgz
2018-03-16 20:24:18   17367359 ND.tgz
2018-03-16 20:26:15   21740939 NE.tgz
2018-03-16 20:22:13    5503180 NH.tgz
2018-03-16 20:22:18    7083340 NJ.tgz
2018-03-16 20:26:44   21424625 NM.tgz
2018-03-16 20:23:11   11014542 NV.tgz
2018-03-16 20:25:54   23182008 NY.tgz
2018-03-16 20:24:12   23313446 NaN.tgz
2018-03-16 20:24:04   16953680 OH.tgz
2018-03-16 20:24:53   17919355 OK.tgz
2018-03-16 20:21:51     742972 ON.tgz
2018-03-16 20:26:52   23737209 OR.tgz
2018-03-16 20:25:24   20412277 PA.tgz
2018-03-16 20:21:43     476010 QC.tgz
2018-03-16 20:21:55     684201 RI.tgz
2018-03-16 20:22:40    9560990 SC.tgz
2018-03-16 20:24:39   18835496 SD.tgz
2018-03-16 20:21:39     267915 SK.tgz
2018-03-16 20:23:25   13570732 TN.tgz
2018-03-16 20:27:17   40829958 TX.tgz
2018-03-16 20:25:31   19900566 UT.tgz
2018-03-16 20:23:38   13806915 VA.tgz
2018-03-16 20:22:08    4962255 VT.tgz
2018-03-16 20:26:22   22111479 WA.tgz
2018-03-16 20:25:47   22977566 WI.tgz
2018-03-16 20:23:18   13341155 WV.tgz
2018-03-16 20:24:25   17120824 WY.tgz