## Computing the statistics

In [ ]:
%%time
%pwd
from glob import glob
from pyspark import SparkContext

In [38]:
sc.stop()

In [39]:
lib_dir='/mnt/workspace/edX-Micro-Master-in-Data-Science/big-data-analytics-using-spark/notebooks/Section2-PCA/PCA/data_preparation/lib'
libfiles=glob(lib_dir+'/*.py')

sc = SparkContext(pyFiles=libfiles)

In [41]:
N=sc.defaultParallelism
print('Number of executors=',N)

from pyspark import SparkContext
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

('Number of executors=', 2)

In [42]:
#import unpacking routine
import sys
sys.path.append('./lib')
from numpy_pack import unpackArray

import numpy as np

In [43]:
STAT_Descriptions=[
('SortedVals', 'Sample of values', 'vector whose length varies between measurements'),
 ('UnDef', 'sample of number of undefs per row', 'vector whose length varies between measurements'),
 ('mean', 'mean value', ()),
 ('std', 'std', ()),
 ('low100', 'bottom 1%', ()),
 ('high100', 'top 1%', ()),
 ('low1000', 'bottom 0.1%', ()),
 ('high1000', 'top 0.1%', ()),
 ('E', 'Sum of values per day', (365,)),
 ('NE', 'count of values per day', (365,)),
 ('Mean', 'E/NE', (365,)),
 ('O', 'Sum of outer products', (365, 365)),
 ('NO', 'counts for outer products', (365, 365)),
 ('Cov', 'O/NO', (365, 365)),
 ('Var', 'The variance per day = diagonal of Cov', (365,)),
 ('eigval', 'PCA eigen-values', (365,)),
 ('eigvec', 'PCA eigen-vectors', (365, 365))
  ]

In [44]:
US_Weather_parquet='/weather/US_weather.parquet'
measurements=['TMAX','TMIN','TOBS','SNOW','SNWD','PRCP']
Query="SELECT * FROM parquet.`%s`"%US_Weather_parquet
print(Query)

from time import time
t=time()
df = sqlContext.sql(Query).cache()
print(df.count())
print('took',time()-t,'seconds')

SELECT * FROM parquet.`/weather/US_weather.parquet`
3259494
('took', 21.63391399383545, 'seconds')

In [45]:
US_stations_parquet='/weather/US_stations.parquet'
Query="SELECT * FROM parquet.`%s`"%US_stations_parquet
print(Query)

t=time()
stations = sqlContext.sql(Query).cache()
print(stations.count())
print('took',time()-t,'seconds')

SELECT * FROM parquet.`/weather/US_stations.parquet`
12140
('took', 3.763619899749756, 'seconds')

In [46]:
station_state=stations.select(['Station','State'])
station_state.show(4)

+-----------+-----+
|    Station|State|
+-----------+-----+
|USC00341900|   OK|
|USC00428114|   UT|
|USC00165926|   LA|
|USC00411974|   TX|
+-----------+-----+
only showing top 4 rows

In [47]:
df.show(2)

+-----------+-----------+----+--------------------+
|    Station|Measurement|Year|              Values|
+-----------+-----------+----+--------------------+
|CA001126150|       PRCP|1941|[00 7E 00 7E 00 7...|
|CA001126150|       PRCP|1942|[00 00 80 4A 00 0...|
+-----------+-----------+----+--------------------+
only showing top 2 rows

In [48]:
df1=df.join(station_state,on='Station', how='inner')
df1.show(2)

+-----------+-----------+----+--------------------+-----+
|    Station|Measurement|Year|              Values|State|
+-----------+-----------+----+--------------------+-----+
|CA001126150|       PRCP|1941|[00 7E 00 7E 00 7...|  NaN|
|CA001126150|       PRCP|1942|[00 00 80 4A 00 0...|  NaN|
+-----------+-----------+----+--------------------+-----+
only showing top 2 rows

In [49]:
records_per_state_pdf=df1.groupby('State').count().toPandas()
records_per_state_pdf = records_per_state_pdf.sort_values('count')
records_per_state_pdf

   State   count
54    NB     120
5     DC     149
29    MB     193
44    AB     594
43    SK     740
8     QC    1218
12    BC    1366
42    ON    1857
9     RI    2608
25    DE    5277
20    CT   13231
23    VT   17535
13    NH   19971
4     NJ   27903
28    ME   28186
49    MA   29531
24    MD   34992
1     SC   39276
10    KY   43453
2     LA   47331
32    MS   48006
33    AL   48218
15    NV   48977
47    WV   50991
36    TN   54590
53    AR   55884
7     VA   57279
52    FL   57997
48    GA   58234
34    IN   58832
35    OH   63344
45   NaN   64268
30    ND   64908
11    WY   65734
17    ID   71554
40    SD   72556
22    NC   72568
55    OK   74509
27    IL   74742
3     MN   75338
26    MO   78153
39    PA   78755
56    UT   82388
37    IA   82673
16    WI   83197
41    NY   84199
50    KS   85246
14    MI   86365
19    NE   88658
31    WA   88668
51    CO   90775
0     AZ   91858
38    NM   94859
6     OR   96763
21    MT  114447
18    CA  182759
46    TX  195671

In [50]:
def Unpack(V):
    return unpackArray(V,data_type=np.float16)

In [51]:
%%time
rdd0=df.rdd.map(lambda row:(row.Station,row.Measurement,row.Year,Unpack(row.Values))).cache()

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 17.9 ms

### Crashes in the next cell if run using Python3

In [52]:
%%time

rdd0.count()

CPU times: user 8 ms, sys: 4 ms, total: 12 ms
Wall time: 37.7 s

3259494

In [53]:
rdd0.take(1)

[(u'CA001126150',
  u'PRCP',
  1941,
  array([ nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
          nan,  nan,   0.,  61.,  36.,  91.,   0.,   0.,   0.,   0.,  36.,
          91.,   0.,   0.,   0.,  18.,   3.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.,   0.,   0.,   0.,   0.,  41.,   0.,   0., 188.,   8.,
           0.,  28.,  20.,   0.,   0.,   0.,   0.,   0.,   0.,  20.,   0.,
           0.,   0.,   0.,   0.,  53.,   0.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.,  23.,  15.,  56.,   3.,   0.,  20.,   0.,   0.,   0.,
           0.,  10., 188., 157.,   0.,   0.,   0.,   0.,  13.,  15.,  48.,
           3.,  38.,   0., 114.,   8.,   0.,   0.,   0.,   0.,  23.,   5.,
           0.,   0.,   0.,   0.,   0.,   0.,  66., 183.,   0.,   0., 112.,
           0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  18.,
          53.,   3.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.,   0.,   0.,   0.,   5.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.,   3.,   5.,   0.,   8.,  10.,   0.,   0.,   0.,   0.,
           0.,   0.,   0.,  10.,   0.,  91., 221.,   3.,   0.,   0.,  23.,
           0.,  10.,  18.,  13.,   0.,   0.,  23.,   0.,   5.,  91., 107.,
          28.,  30.,  10.,  53.,  13.,  64.,   0.,  25.,  10.,   0.,   0.,
           0.,   0.,   0.,   0.,  28.,   0.,   3.,   5.,   0.,  10.,   8.,
           8.,   0.,   0.,   0.,   0.,   5.,  10.,   3.,   0.,   0.,   0.,
           0.,   0.,   0.,   0.,   0.,  18.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.,   0.,   5.,   0.,   0.,  25.,   0.,  25.,  13.,   8.,
           0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   8.,   0.,  15.,
          15.,   0.,   0.,   0.,   8.,   0.,   0.,   0.,  41.,   0.,   0.,
           0.,   0.,   0.,   0.,   3.,  30.,   0.,   8.,   3.,   0.,   0.,
           0.,   0.,   0.,   0.,   0.,   5.,  28.,  66.,   0.,  18.,  20.,
         112.,  38.,   5.,  23.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
           0.,   0.], dtype=float16))]

In [54]:
t=time()
print rdd0.count()
print 'took',time()-t,'seconds'

3259494
took 1.96101808548 seconds

In [22]:
# Compute the overall distribution of values and the distribution of the number of nan per year
def find_percentiles(SortedVals,percentile):
  L=len(SortedVals)/percentile
  return SortedVals[L],SortedVals[-L]
  
def computeOverAllDist(rdd0):
  UnDef=np.array(rdd0.map(lambda row:sum(np.isnan(row))).sample(False,0.01).collect())
  flat=rdd0.flatMap(lambda v:list(v)).filter(lambda x: not np.isnan(x)).cache()
  count,S1,S2=flat.map(lambda x: np.float64([1,x,x**2]))\
                  .reduce(lambda x,y: x+y)
  mean=S1/count
  std=np.sqrt(S2/count-mean**2)
  Vals=flat.sample(False,0.0001).collect()
  SortedVals=np.array(sorted(Vals))
  low100,high100=find_percentiles(SortedVals,100)
  low1000,high1000=find_percentiles(SortedVals,1000)
  return {'UnDef':UnDef,\
          'mean':mean,\
          'std':std,\
          'SortedVals':SortedVals,\
          'low100':low100,\
          'high100':high100,\
          'low1000':low100,\
          'high1000':high1000
          }

In [60]:
# %load lib/spark_PCA.py
import numpy as np
from numpy import linalg as LA

def outerProduct(X):
    """Computer outer product and indicate which locations in matrix are undefined"""
    O=np.outer(X,X)
    N=1-np.isnan(O)
    return (O,N)

def sumWithNan(M1,M2):
    """Add two pairs of (matrix,count)"""
    (X1,N1)=M1
    (X2,N2)=M2
    N=N1+N2
    X=np.nansum(np.dstack((X1,X2)),axis=2)
    return (X,N)

def computeCov(RDDin):
    """computeCov recieves as input an RDD of np arrays, all of the same length, 
    and computes the covariance matrix for that set of vectors"""
    RDD=RDDin.map(lambda v:np.array(np.insert(v,0,1),dtype=np.float64)) # insert a 1 at the beginning of each vector so that the same 
                                           #calculation also yields the mean vector
    OuterRDD=RDD.map(outerProduct)   # separating the map and the reduce does not matter because of Spark uses lazy execution.
    (S,N)=OuterRDD.reduce(sumWithNan)
    # Unpack result and compute the covariance matrix
    # print('RDD=',RDD.collect())
    # print('shape of S=',S.shape,'shape of N=',N.shape)
    # print('S=',S)
    # print('N=',N)
    E=S[0,1:]
    NE=np.float64(N[0,1:])
    print('shape of E=',E.shape,'shape of NE=',NE.shape)
    Mean=E/NE
    O=S[1:,1:]
    NO=np.float64(N[1:,1:])
    Cov=O/NO - np.outer(Mean,Mean)
    # Output also the diagnal which is the variance for each day
    Var=np.array([Cov[i,i] for i in range(Cov.shape[0])])
    return {'E':E,'NE':NE,'O':O,'NO':NO,'Cov':Cov,'Mean':Mean,'Var':Var}

if __name__=="__main__":
    # create synthetic data matrix with j rows and rank k
    
    V=2*(np.random.random([2,10])-0.5)
    data_list=[]
    for i in range(1000):
        f=2*(np.random.random(2)-0.5)
        data_list.append(np.dot(f,V))
    # compute covariance matrix
    RDD=sc.parallelize(data_list)
    OUT=computeCov(RDD)

    #find PCA decomposition
    eigval,eigvec=LA.eig(OUT['Cov'])
    print('eigval=',eigval)
    print('eigvec=',eigvec)

('shape of E=', (10,), 'shape of NE=', (10,))
('eigval=', array([ 1.52150512e+00+0.00000000e+00j, -1.73472348e-16+0.00000000e+00j,
        4.21481279e-01+0.00000000e+00j, -5.65743323e-17+0.00000000e+00j,
       -7.55673997e-17+0.00000000e+00j,  3.40199536e-17+2.62411719e-17j,
        3.40199536e-17-2.62411719e-17j,  3.37003138e-17+0.00000000e+00j,
       -2.10396305e-17+0.00000000e+00j,  1.71760135e-19+0.00000000e+00j]))
('eigvec=', array([[ 4.42175481e-01+0.        j,  8.78490286e-01+0.        j,
         1.80929992e-01+0.        j,  5.48283151e-02+0.        j,
        -2.77083972e-01+0.        j, -1.38838568e-01+0.11262092j,
        -1.38838568e-01-0.11262092j, -3.27840667e-02+0.        j,
         1.25681273e-01+0.        j, -2.98963442e-03+0.        j],
       [ 2.53835606e-01+0.        j, -1.19754390e-01+0.        j,
        -3.88924626e-02+0.        j,  2.05310085e-02+0.        j,
        -3.25215328e-03+0.        j, -6.36014218e-01+0.        j,
        -6.36014218e-01-0.        j, -1.52434450e-01+0.        j,
         2.05690568e-01+0.        j, -8.76145271e-03+0.        j],
       [-1.10953912e-01+0.        j, -1.59065451e-02+0.        j,
         3.48393564e-01+0.        j,  1.63535096e-01+0.        j,
         6.11042419e-04+0.        j,  1.21317422e-01-0.00927388j,
         1.21317422e-01+0.00927388j,  7.06892570e-01+0.        j,
         1.40535864e-01+0.        j,  7.95704356e-02+0.        j],
       [-4.08454022e-02+0.        j,  1.30140526e-02+0.        j,
         3.66335978e-02+0.        j, -3.37470851e-03+0.        j,
         2.51747932e-02+0.        j,  2.50527772e-02-0.12072923j,
         2.50527772e-02+0.12072923j,  1.50464195e-01+0.        j,
         1.35681022e-01+0.        j, -9.86534631e-01+0.        j],
       [-4.71877499e-01+0.        j,  2.17236880e-01+0.        j,
         9.84478630e-02+0.        j,  4.70418567e-01+0.        j,
         1.51026571e-01+0.        j, -1.44101738e-01-0.31893804j,
        -1.44101738e-01+0.31893804j,  1.36687914e-01+0.        j,
        -2.13027846e-01+0.        j,  7.69789641e-02+0.        j],
       [ 1.37553894e-01+0.        j, -9.44662794e-02+0.        j,
         1.22504563e-01+0.        j,  3.19420798e-01+0.        j,
         1.50552372e-01+0.        j,  5.67592911e-02+0.38817243j,
         5.67592911e-02-0.38817243j, -1.40800287e-01+0.        j,
        -6.91647715e-01+0.        j, -1.07286524e-01+0.        j],
       [-4.79102719e-01+0.        j,  2.99220807e-01+0.        j,
        -2.81960420e-01+0.        j,  3.67020370e-01+0.        j,
        -5.41012632e-01+0.        j, -1.14472365e-01+0.32043124j,
        -1.14472365e-01-0.32043124j, -3.33206215e-01+0.        j,
         3.01350494e-01+0.        j, -5.34889443e-02+0.        j],
       [-2.43598557e-01+0.        j,  3.19376081e-02+0.        j,
         4.40261062e-01+0.        j, -3.89212346e-01+0.        j,
        -5.66016652e-01+0.        j, -1.55271161e-02-0.05167855j,
        -1.55271161e-02+0.05167855j,  9.77137556e-02+0.        j,
        -3.70482723e-01+0.        j,  2.88191530e-03+0.        j],
       [ 4.92908748e-02+0.        j,  1.27187042e-01+0.        j,
        -7.38008087e-01+0.        j, -1.52633994e-01+0.        j,
        -1.64296006e-01+0.        j,  8.83062612e-02-0.12058019j,
         8.83062612e-02+0.12058019j,  5.25056463e-01+0.        j,
        -3.87398127e-01+0.        j,  2.82768442e-03+0.        j],
       [ 4.39511662e-01+0.        j, -2.25046516e-01+0.        j,
         1.85701546e-02+0.        j,  5.80522700e-01+0.        j,
        -4.86869607e-01+0.        j,  2.24187616e-01-0.25659972j,
         2.24187616e-01+0.25659972j,  1.36328306e-01+0.        j,
        -4.27976161e-02+0.        j, -4.32882288e-03+0.        j]]))

In [61]:
from numpy import linalg as LA

STAT={}  # dictionary storing the statistics for each measurement
Clean_Tables={}

#for meas in measurements:
meas=measurements[0]
t=time()
Query="SELECT * FROM parquet.`%s`\n\tWHERE measurement = '%s'"%(US_Weather_parquet,meas)
print Query
df = sqlContext.sql(Query)

SELECT * FROM parquet.`/weather/US_weather.parquet`
	WHERE measurement = 'TMAX'

In [62]:
rdd0=df.rdd.map(lambda row:((row.Station,row.Measurement,row.Year),Unpack(row.Values))).cache()
print rdd0.take(1)
rdd1=rdd0.sample(False,1)\
    .map(lambda (key,val): val)\
    .cache()\
    .repartition(N)
print rdd1.take(1)
print rdd1.count()

[((u'CA001126150', u'TMAX', 1941), array([ nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan, 183., 144., 128.,  78., 144., 167., 183., 178., 156.,
       172., 161., 183., 172., 200., 117., 122., 156., 167., 194., 228.,
       244., 250., 228., 206., 211., 250., 222., 244., 206., 206., 194.,
       194., 144., 167., 161., 178., 167., 178., 211., 194., 244., 217.,
       211., 217., 194., 194., 178., 161., 167., 217., 200., 206., 306.,
       250., 239., 211., 222., 117., 156., 194., 167., 211., 233., 222.,
       239., 217., 156., 133., 194., 233., 267., 317., 328., 228., 272.,
       206., 233., 222., 167., 189., 222., 233., 322., 289., 222., 183.,
       233., 261., 283., 278., 283., 283., 317., 300., 278., 272., 278.,
       278., 283., 272., 250., 294., 300., 311., 333., 344., 350., 406.,
       372., 300., 294., 289., 267., 244., 222., 300., 328., 300., 317.,
       311., 317., 261., 283., 217., 183., 244., 261., 278., 328., 328.,
       317., 322., 328., 250., 289., 306., 267., 289., 300., 306., 333.,
       300., 350., 283., 239., 244., 239., 178., 194., 206., 228., 233.,
       194., 211., 211., 178., 233., 233., 200., 222., 178., 178., 200.,
       178., 156., 172., 133., 172., 144., 150., 156., 117., 167., 178.,
       183., 206., 217., 228., 167., 156., 117., 189., 167., 167., 122.,
       139., 156., 156., 144., 128., 117., 156., 189., 144., 172., 161.,
       172., 183., 178., 167., 122., 128., 167., 139., 128., 106., 111.,
        83., 100., 111., 111.,  89., 100.,  78.,  94.,  94., 133., 106.,
       161., 106.,  94.,  94.,  72., 106., 122., 100., 117., 122.,  78.,
        67.,  67.,  72.,  78.,  56.,  44.,  22.,  33.,  44.,  83.,  78.,
        67.,  94., 122., 122., 111., 144.,  67.,  39.,  56.,  72.,  50.,
        67.,  61.,  50.,  33.,  11.,  28.,  39.,  72.,  83.,  33.,  61.,
        67.,  67.,  28.,  44.,  50.,  33.,  28., -11., -11., -39., -22.,
       -44., -67.], dtype=float16))]
[array([ -84., -124., -165., -217., -190., -129., -122., -162.,  -87.,
        -51.,  -65.,  -37., -129., -130.,  -89.,  -51.,  -60., -209.,
       -166.,  -33.,  -39., -175., -176., -221., -179., -177., -195.,
       -287., -272., -263., -215., -159., -156., -166., -112.,  -87.,
       -122.,  -61.,   -4.,  -29.,  -75., -106.,  -43.,   -7., -145.,
       -129.,  -77.,   -6.,    7.,   -7.,   10.,   -6.,  -25.,   -8.,
        -15.,    1.,   16.,   40.,   33.,   -8.,   -8.,  -86.,  -50.,
        -44.,   20.,   -1.,   62.,   59.,   57., -101.,  -28.,   26.,
        -30.,    0.,   50.,   37.,    4.,   84.,  -15.,  -38.,   47.,
         49.,   99.,  131.,   -3.,   64.,   54.,   20.,   64.,  104.,
        122.,   74.,   54.,  113.,  163.,  181.,   85.,   42.,    6.,
        -19.,   28.,  103.,   88.,   85.,   33.,   65.,   80.,   71.,
        128.,  179.,   72.,  124.,   87.,  215.,  139.,  102.,  261.,
        200.,  105.,  102.,   93.,  119.,  192.,  120.,  214.,  120.,
        183.,  200.,  260.,  106.,   62.,    7.,   23.,   64.,  144.,
        114.,  172.,  238.,  164.,  124.,  111.,  126.,  184.,  118.,
        106.,  109.,  141.,  214.,  202.,  139.,  134.,  189.,  219.,
        237.,  271.,  249.,  212.,  246.,  152.,  169.,  203.,  196.,
        206.,  154.,  165.,  205.,  210.,  225.,  188.,  221.,  211.,
        165.,  169.,  140.,  153.,  167.,  187.,  226.,  286.,  298.,
        222.,  250.,  256.,  233.,  149.,  165.,  220.,  229.,  185.,
        258.,  291.,  290.,  273.,  249.,  273.,  271.,  238.,  263.,
        312.,  300.,  294.,  255.,  183.,  212.,  265.,  282.,  280.,
        267.,  214.,  160.,  187.,  271.,  246.,  237.,  236.,  229.,
        240.,  186.,  222.,  212.,  151.,  152.,  156.,  206.,  207.,
        248.,  219.,  234.,  233.,  172.,  170.,  170.,  223.,  167.,
        159.,  188.,  198.,  182.,  192.,  204.,  229.,  187.,  185.,
        231.,  306.,  194.,  199.,  194.,  164.,  147.,  204.,  240.,
        218.,  147.,  245.,  153.,  180.,  150.,  209.,  247.,  257.,
        323.,  268.,  158.,  162.,  132.,  205.,  253.,  227.,  161.,
        197.,  193.,  174.,  105.,  144.,  134.,  119.,  255.,  289.,
        240.,  190.,  215.,  222.,  196.,  169.,   80.,   82.,   46.,
         13.,  -10.,   46.,   78.,   49.,  113.,   72.,   67.,   67.,
        107.,  119.,   88.,  111.,   98.,   29.,   79.,   72.,   94.,
        116.,   98.,  129.,  122.,   37.,   12.,  133.,   28.,   45.,
        102.,  116.,  117.,  119.,  156.,  138.,  100.,   97.,   28.,
         55.,   65.,  -17.,  -28.,  -12.,   21.,   25.,  -36.,   36.,
        -20., -120.,  -65.,   71.,   56.,  -87.,  -14.,  -31.,  -72.,
        -81.,  -48.,   57.,   -9.,  -93.,   34.,   24.,  -34.,   67.,
       -101.,  -69.,   47., -186., -204., -203., -154., -169., -100.,
        -75.,  -45.,  -46.,  -46., -113.], dtype=float16)]
544460

In [63]:
#get basic statistics
STAT[meas]=computeOverAllDist(rdd1)   # Compute the statistics 
low1000 = STAT[meas]['low1000']  # unpack the extreme values statistics
high1000 = STAT[meas]['high1000']

In [ ]:
#clean up table from extreme values and from rows with too many undefinde entries.
rdd2=rdd1.map(lambda V: np.array([x if (x>low1000-1) and (x<high1000+1) else np.nan for x in V]))
rdd3=rdd2.filter(lambda row:sum(np.isnan(row))<50)
Clean_Tables[meas]=rdd3.cache().repartition(N)
C=Clean_Tables[meas].count()
print 'for measurement %s, we get %d clean rows'%(meas,C)

In [ ]:
# compute covariance matrix
OUT=computeCov(Clean_Tables[meas])

In [ ]:
#find PCA decomposition
eigval,eigvec=LA.eig(OUT['Cov'])

In [59]:
# collect all of the statistics in STAT[meas]
STAT[meas]['eigval']=eigval
STAT[meas]['eigvec']=eigvec
STAT[meas].update(OUT)

# print summary of statistics
print 'the statistics for %s consists of:'%meas
for key in STAT[meas].keys():
    e=STAT[meas][key]
    if type(e)==list:
      print key,'list',len(e)
    elif type(e)==np.ndarray:
      print key,'ndarray',e.shape
    elif type(e)==np.float64:
      print key,'scalar'
    else:
      print key,'Error type=',type(e)
print 'time for',meas,'is',time()-t
break

SELECT * FROM parquet.`/weather/US_weather.parquet`
	WHERE measurement = 'TMAX'
[((u'CA001126150', u'TMAX', 1941), array([ nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan, 183., 144., 128.,  78., 144., 167., 183., 178., 156.,
       172., 161., 183., 172., 200., 117., 122., 156., 167., 194., 228.,
       244., 250., 228., 206., 211., 250., 222., 244., 206., 206., 194.,
       194., 144., 167., 161., 178., 167., 178., 211., 194., 244., 217.,
       211., 217., 194., 194., 178., 161., 167., 217., 200., 206., 306.,
       250., 239., 211., 222., 117., 156., 194., 167., 211., 233., 222.,
       239., 217., 156., 133., 194., 233., 267., 317., 328., 228., 272.,
       206., 233., 222., 167., 189., 222., 233., 322., 289., 222., 183.,
       233., 261., 283., 278., 283., 283., 317., 300., 278., 272., 278.,
       278., 283., 272., 250., 294., 300., 311., 333., 344., 350., 406.,
       372., 300., 294., 289., 267., 244., 222., 300., 328., 300., 317.,
       311., 317., 261., 283., 217., 183., 244., 261., 278., 328., 328.,
       317., 322., 328., 250., 289., 306., 267., 289., 300., 306., 333.,
       300., 350., 283., 239., 244., 239., 178., 194., 206., 228., 233.,
       194., 211., 211., 178., 233., 233., 200., 222., 178., 178., 200.,
       178., 156., 172., 133., 172., 144., 150., 156., 117., 167., 178.,
       183., 206., 217., 228., 167., 156., 117., 189., 167., 167., 122.,
       139., 156., 156., 144., 128., 117., 156., 189., 144., 172., 161.,
       172., 183., 178., 167., 122., 128., 167., 139., 128., 106., 111.,
        83., 100., 111., 111.,  89., 100.,  78.,  94.,  94., 133., 106.,
       161., 106.,  94.,  94.,  72., 106., 122., 100., 117., 122.,  78.,
        67.,  67.,  72.,  78.,  56.,  44.,  22.,  33.,  44.,  83.,  78.,
        67.,  94., 122., 122., 111., 144.,  67.,  39.,  56.,  72.,  50.,
        67.,  61.,  50.,  33.,  11.,  28.,  39.,  72.,  83.,  33.,  61.,
        67.,  67.,  28.,  44.,  50.,  33.,  28., -11., -11., -39., -22.,
       -44., -67.], dtype=float16))]
[array([211., 144., 156., 211., 178., 150., 178., 144., 178., 167., 172.,
       206., 211., 178., 183., 178.,  94., 122., 144., 183., 211., 183.,
       156., 106., 150., 178., 172., 144., 183., 194., 144., 167., 189.,
       183., 183., 156., 156., 206., 239., 239., 233., 211., 128., 156.,
       156., 183., 217., 189., 211., 200., 167., 161., 133., 144., 178.,
       206., 150., 189., 178., 211., 156., 133., 156., 183., 194., 183.,
       222., 172., 194., 133., 183., 211., 222., 244., 250., 267., 239.,
       267., 239., 250., 222., 244., 294., 289., 244., 267., 267., 272.,
       233., 233., 250., 289., 317., 322., 289., 233., 206., 267., 261.,
       294., 317., 333., 333., 294., 222.,  nan,  nan, 267., 300., 317.,
       294., 261., 228., 244., 189., 244., 267., 267., 211., 189., 156.,
       133., 156., 239., 267., 211., 233., 278., 267., 294., 328., 372.,
       372., 339., 300., 350.,  nan, 278., 256., 244., 317., 322., 344.,
       344., 322.,  nan, 322., 339., 383., 344., 361., 372., 361., 361.,
       322., 278., 294., 317., 389., 406., 406., 378., 372., 350., 361.,
       389., 406., 422., 422., 411., 400., 406., 417., 422., 406., 400.,
       406., 400., 389., 406., 422., 428., 428., 406., 394., 422., 406.,
       378., 406., 394., 394., 389., 394., 411., 417., 406., 389., 394.,
       383., 361., 394., 361., 350., 378., 394., 378., 344., 394., 389.,
       389., 389., 389., 394., 400., 422., 417., 422., 400., 389., 417.,
        nan,  nan,  nan,  nan,  nan, 389., 389., 394., 417., 444., 444.,
       450., 461., 428., 422., 411., 406., 400., 278., 283., 361., 361.,
       367., 372., 311., 339., 356., 367., 378., 383., 383., 394., 383.,
       378., 372., 356., 322., 239., 272., 322., 356., 378., 389., 400.,
       394., 394., 400., 350., 267., 306., 333., 350., 350., 350., 367.,
       372., 350., 339., 372., 378., 400., 394., 361., 328., 289., 278.,
       283., 278., 278., 283., 311., 339.,  nan, 356., 389., 378., 367.,
       339., 339., 356., 344., 356., 356., 333., 322., 328., 322., 350.,
       322., 311., 222., 244., 244., 200., 167., 167., 206., 161., 150.,
       189., 222., 206., 244., 267., 289., 289., 278., 294., 233., 167.,
       211., 222., 222., 222., 233., 244., 244., 283., 217., 211., 200.,
       256., 256., 244., 244., 222., 233., 239., 206., 144., 111., 144.,
       139., 144., 172.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan], dtype=float16)]
544460

KeyboardInterrupt:

In [ ]:
from pickle import dump
def dumpS3(object,S3dir,filename):
    dump(object,open(filename,'wb'))
    !ls -l $filename
    s3helper.local_to_s3(filename, S3dir+filename)
dumpS3((STAT,STAT_Descriptions),'/Weather/','STAT1.pickle')

In [ ]:
STAT.keys()

### Sample Stations
Generate a sample of stations, for each one store all available year X measurement pairs.

In [ ]:
rdd0.take(10) # test output

In [ ]:
groups=rdd0.groupByKey().cache()
print 'number of stations=',groups.count()

groups1=groups.sample(False,0.01).collect()
groups2=[(g[0],[e for e in g[1]]) for g in groups1]

dumpS3(groups2,'/Weather/','SampleStations.pickle')

In [ ]:
group_Sample=rdd0.sample(False,0.001).groupByKey().mapValues(list).cache()
group_Sample.first()

In [ ]:
Means=rdd0.aggregateByKey((np.zeros(365),1),\
                          lambda S,D: sumWithNan(S,(D[1],1)),\
                          lambda S1,S2: sumWithNanithNan(S1,S2))\
.cache()#.repartition(N)

In [ ]:
Means.take(5)

In [ ]:
groups=rdd0.groupByKey().cache()
print 'number of stations=',groups.count()